<div class="sw-footer"> 
  <div class="container footer-container">
    <p>Krótkie wprowadzenie do Gwiezdnych Wojen</p>
    <hr class="my-4 sw-footer-hr">
    <ul>
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Strona główna</li><li>/</li>
      <li routerLink="/wiecej" routerLinkActive="active">Więcej o GW</li><li>/</li>
      <li routerLink="/galeria" routerLinkActive="active">Galeria</li><li>/</li>
      <li routerLink="/trailers" routerLinkActive="active">Video</li><li>/</li>
      <li routerLink="/kontakt" routerLinkActive="active">Kontakt</li>
    </ul>
  </div>
</div>