<div id="desktop-carousel">
	<carousel>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw1.jpg" alt="Epizod I: Mroczne widmo" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod I: Mroczne widmo</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw2.jpg" alt="Epizod II: Atak klonów" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod II: Atak klonów</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw3.jpg" alt="Epizod III: Zemsta Sithów" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod III: Zemsta Sithów</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw4.jpg" alt="Epizod IV: Nowa Nadzieja" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod IV: Nowa Nadzieja</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw5.jpg" alt="Epizod V: Imperium Kontratakuje" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod V: Imperium Kontratakuje</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw6.jpg" alt="Epizod VI: Powrót Jedi" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod VI: Powrót Jedi</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw7.jpg" alt="Epizod VII: Przebudzenie mocy" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod VII: Przebudzenie mocy</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw8.jpg" alt="Epizod VIII: Ostatni Jedi" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod VIII: Ostatni Jedi</h3>
			</div>
		</slide>
	</carousel>
</div>

<div id="mobile-carousel">
	<carousel>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw1-450.jpg" alt="Epizod I: Mroczne widmo" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod I: Mroczne widmo</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw2-450.jpg" alt="Epizod II: Atak klonów" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod II: Atak klonów</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw3-450.jpg" alt="Epizod III: Zemsta Sithów" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod III: Zemsta Sithów</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw4-450.jpg" alt="Epizod IV: Nowa Nadzieja" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod IV: Nowa Nadzieja</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw5-450.jpg" alt="Epizod V: Imperium Kontratakuje" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod V: Imperium Kontratakuje</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw6-450.jpg" alt="Epizod VI: Powrót Jedi" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod VI: Powrót Jedi</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw7-450.jpg" alt="Epizod VII: Przebudzenie mocy" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod VII: Przebudzenie mocy</h3>
			</div>
		</slide>
		<slide class="animated fadeIn">
			<img src="https://krzysztofkawalko.github.io/starwars/img/slider-gw8-450.jpg" alt="Epizod VIII: Ostatni Jedi" style="display: block; width: 100%;">
			<div class="carousel-caption d-none d-md-block">
				<h3>Epizod VIII: Ostatni Jedi</h3>
			</div>
		</slide>
	</carousel>
</div>

<div class="bg-fix">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1>Dawno, dawno temu w odległej galaktyce...</h1>
			<p>Krótkie wprowadzenie do Gwiezdnych Wojen - amerykańskiej franczyzy filmowej z gatunku space opera opartej na trylogii
				filmów stworzonej przez George’a Lucasa.</p>
			<button type="button" class="btn btn-primary">
        <a routerLink="/wiecej" routerLinkActive="active">Więcej o Gwiezdnych Wojnach</a>
        </button>
		</div>
	</div>

	<div class="container">
		<p>Zdanie <i>"Dawno, dawno temu w odległej galaktyce..."</i> rozpoczynające każdy z filmów jest jedyną wskazówką co do miejsca
			i czasu akcji. Wydarzenia pokazane w filmach są mitami przeszłości, na wzór fabuły baśni oraz starożytnych eposów o herosach.</p>
		<p>Akcja filmów i innych kanonicznych elementów franczyzy opisuje ponad 60 lat historii. Akcja utworów należących do Legend
			sięga nawet ponad 25 000 lat wstecz, oraz wiek naprzód, opisując niekanoniczną przyszłość w której obca rasa zwana Yuuzhan
			Vong przybywa z innej galaktyki.</p>
		<p>Galaktykę zamieszkują ludzie i wiele innych inteligentnych gatunków, często humanoidalnych. Powszechny jest hipernapęd
			umożliwiający szybkie podróże międzygwiezdne. Broń palna jest rzadka, zamiast niej używane są blastery, lecz charakterystyczną
			dla franczyzy bronią są miecze świetlne, z których korzystają dysponujący Mocą Jedi i wrodzy im Sithowie.
	</div>
	<div class="sw-space"></div>
</div>