<div>
	<p>Przydatne linki:</p>
	<p class="useful-links">
		<a href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny" target="_blank" title="Wikipedia"><i class="fa fa-angle-right"></i> Wikipedia</a><br/>
		<a href="https://star-wars.pl/" target="_blank" title="Bastion"><i class="fa fa-angle-right"></i> Bastion Polskich Fanów Star Wars</a><br/>
		<a href="https://starwars.pl/" target="_blank" title="starwars.pl"><i class="fa fa-angle-right"></i> starwars.pl</a><br/>
		<a href="https://www.lego.com/pl-pl/starwars" target="_blank" title="Lego"><i class="fa fa-angle-right"></i> Lego Gwiezdne Wojny</a><br/>
		<a href="http://www.starwars.com/" target="_blank" title="Official"><i class="fa fa-angle-right"></i> starwars.com</a><br/>
	</p>
</div>