<div class="bg-fix">
	<div class="container">
		<div class="row">
			<!-- main section -->
			<section class="col-sm-8">
				<h2>Więcej o Gwiezdnych Wojnach</h2>
				<h4 class="sw-subtitle">Wybierz epizod:</h4>
				<accordion>
					<accordion-group heading="Epizod I: Mroczne widmo">
						<img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Star-wars-episode-i---the-phantom-menace.png"><br> Gwiezdne
						wojny, część I: Mroczne widmo (ang. Star Wars Episode I: The Phantom Menace) – chronologicznie pierwsza część sagi
						Gwiezdne wojny, powstała w 1999 roku jako czwarty z kolei film. Jej reżyserem jest George Lucas. Film opowiada o dzieciństwie
						Anakina Skywalkera, przyszłego Dartha Vadera. 10 lutego 2012 do polskich kin trafiła wersja w 3D.<br/>Serwis Rotten
						Tomatoes przyznał mu wynik 57%.
						<p>
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_cz%C4%99%C5%9B%C4%87_I_%E2%80%93_Mroczne_widmo">Więcej na Wikipedii </a><i class="fa fa-angle-double-right"></i>
						</p>
					</accordion-group>
					<accordion-group heading="Epizod II: Atak klonów">
						<img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Sw-ep2-logo.png"><br> Gwiezdne wojny, część II: Atak
						klonów (ang. Star Wars Episode II: Attack of the Clones) – chronologicznie druga część sagi Gwiezdne wojny, powstała
						jako piąta w roku 2002. Jej reżyserem jest George Lucas. Film opowiada o młodzieńczych latach Anakina Skywalkera, przyszłego
						Dartha Vadera. Akcja filmu dzieje się 10 lat później od wydarzeń ukazanych w filmie Gwiezdne wojny: część I – Mroczne
						widmo i 22 lata wcześniej od wydarzeń z filmu Gwiezdne wojny: część IV - Nowa nadzieja.<br/>W serwisie Rotten Tomatoes
						uzyskał wynik 67%.
						<p style="text-align: right;">
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_cz%C4%99%C5%9B%C4%87_II_%E2%80%93_Atak_klon%C3%B3w">Więcej na Wikipedii <i class="fa fa-angle-double-right"></i></a>
						</p>
					</accordion-group>
					<accordion-group heading="Epizod III: Zemsta Sithów">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Revengeofthesith-logo.svg/512px-Revengeofthesith-logo.svg.png"><br>						Gwiezdne wojny: część III – Zemsta Sithów (ang. Star Wars Episode III: Revenge of the Sith) – chronologicznie trzecia
						część sagi Gwiezdne wojny, powstała jako szósta w 2005 roku. Jej reżyserem jest George Lucas. Na podstawie filmu powstała
						gra: Star Wars: Episode III. 11 października 2013 film miał wrócić do kin, twórcy jednak zmienili zdanie i postanowili
						skupić się na VII części Gwiezdnych Wojen.<br/>Serwis Rotten Tomatoes przyznał filmowi wynik 80%.
						<p style="text-align: right;">
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_cz%C4%99%C5%9B%C4%87_III_%E2%80%93_Zemsta_Sith%C3%B3w">Więcej na Wikipedii <i class="fa fa-angle-double-right"></i></a>
						</p>
					</accordion-group>
					<accordion-group heading="Epizod IV: Nowa nadzieja">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Star_wars_1977_us.svg/286px-Star_wars_1977_us.svg.png"><br>						Gwiezdne wojny, część IV: Nowa nadzieja (ang. Star Wars Episode IV: A New Hope) – chronologicznie czwarty (w kolejności
						powstawania – pierwszy) film z cyklu Gwiezdne wojny wyreżyserowany przez George’a Lucasa w 1977 roku pod tytułem Gwiezdne
						wojny, bez żadnych epizodów i podtytułów (podtytuł „Nowa nadzieja” został dodany 10 kwietnia 1981, w nowym wydaniu
						filmu); opowiada o młodym Luke’u Skywalkerze, który – podobnie jak ojciec – chce zostać rycerzem Jedi.<br/>W serwisie
						Rotten Tomatoes film uzyskał 93% pozytywnych recenzji.
						<p style="text-align: right;">
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_cz%C4%99%C5%9B%C4%87_IV_%E2%80%93_Nowa_nadzieja">Więcej na Wikipedii <i class="fa fa-angle-double-right"></i></a>
						</p>
					</accordion-group>
					<accordion-group heading="Epizod V: Imperium kontratakuje">
						<img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Empirestrikesback2.png"><br> Gwiezdne wojny, część V:
						Imperium kontratakuje (ang. Star Wars Episode V: The Empire Strikes Back) – chronologicznie piąta część sagi Gwiezdne
						wojny, powstała jako druga w 1980 roku; wyreżyserowana przez Irvina Kershnera.<br/>Akcja filmu dzieje się 3 lata po
						wydarzeniach ukazanych w filmie Gwiezdne wojny: część IV – Nowa nadzieja, 22 lata później niż akcja filmu Gwiezdne
						wojny: część III – Zemsta Sithów, 25 lat po Ataku klonów i po upływie 35 lat od wydarzeń z filmu Gwiezdne wojny: część
						I – Mroczne widmo.
						<p style="text-align: right;">
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_cz%C4%99%C5%9B%C4%87_V_%E2%80%93_Imperium_kontratakuje">Więcej na Wikipedii <i class="fa fa-angle-double-right"></i></a>
						</p>
					</accordion-group>
					<accordion-group heading="Epizod VI: Powrót Jedi">
						<img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Return_of_the_jedi_logo.png"><br> Gwiezdne wojny, część
						VI: Powrót Jedi (ang. Star Wars Episode VI: Return of the Jedi) – chronologicznie szósta część sagi Gwiezdne wojny,
						powstała jako trzecia w 1983 roku. Film skupia się na ostatecznej rozgrywce między Lukiem Skywalkerem i Darthem Vaderem
						oraz między Rebelią i Imperium.<br/>Reżyserem tej części był Richard Marquand, a występują w niej m.in. Mark Hamill
						(Luke Skywalker), Carrie Fisher (Leia Organa), Harrison Ford (Han Solo).<br/>W serwisie Rotten Tomatoes film uzyskał
						wynik 79% z 191 recenzji.
						<p style="text-align: right;">
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_cz%C4%99%C5%9B%C4%87_VI_%E2%80%93_Powr%C3%B3t_Jedi">Więcej na Wikipedii <i class="fa fa-angle-double-right"></i></a>
						</p>
					</accordion-group>
					<accordion-group heading="Epizod VII: Przebudzenie Mocy">
						<img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Gwiezdne_wojny_-_Przebudzenie_Mocy_logo.png"><br> Gwiezdne
						wojny: Przebudzenie Mocy (ang. Star Wars: The Force Awakens), tytuł alt. Gwiezdne wojny: część VII – Przebudzenie Mocy
						– amerykański film z gatunku space opera w reżyserii J.J. Abramsa, którego uroczysta premiera miała miejsce 14 grudnia
						2015 roku, a do dystrybucji kinowej trafił cztery dni później. Jest to siódma odsłona serii filmów Gwiezdne wojny.
						W rolach głównych występują Daisy Ridley, John Boyega, Adam Driver, Oscar Isaac, Andy Serkis, Domhnall Gleeson i Max
						von Sydow. Harrison Ford, Carrie Fisher, Mark Hamill, Anthony Daniels, Peter Mayhew i Kenny Baker ponownie wcielają
						się w role z poprzednich filmów. Akcja filmu rozgrywa się około 30 lat po wydarzeniach z Powrotu Jedi i koncentruje
						się na losach trójki nowych głównych bohaterów.
						<p style="text-align: right;">
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_Przebudzenie_Mocy">Więcej na Wikipedii <i class="fa fa-angle-double-right"></i></a>
						</p>
					</accordion-group>
					<accordion-group heading="Epizod VIII: Ostatni Jedi">
						<img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Star_Wars_TLJ-Polish_Logo-Ostatni_Jedi.png"><br> Gwiezdne
						wojny: Ostatni Jedi (ang.: Star Wars: The Last Jedi) – amerykański film z gatunku space opera w reżyserii Riana Johnsona,
						który do kin w USA trafił 15 grudnia 2017 roku (w Polsce 14 grudnia). Jest to ósma część cyklu Gwiezdne wojny, bezpośrednia
						kontynuacja Przebudzenia Mocy z 2015 roku. W rolach głównych występują Daisy Ridley, John Boyega, Adam Driver, Oscar
						Isaac, Andy Serkis, Domhnall Gleeson, Gwendoline Christie, Carrie Fisher oraz Mark Hamill. Zdjęcia do filmu trwały
						od września 2015 do lipca 2016 roku, realizowane były między innymi w Irlandii oraz Chorwacji.
						<p style="text-align: right;">
							<a target="_blank" href="https://pl.wikipedia.org/wiki/Gwiezdne_wojny:_Ostatni_Jedi">Więcej na Wikipedii <i class="fa fa-angle-double-right"></i></a>
						</p>
					</accordion-group>
				</accordion>
			</section>
			<!-- side section -->
			<section class="col-sm-4">
				<linki></linki>
			</section>
		</div>
	</div>
</div>

