<div class="bg-fix galeria">
	<div class="container">
		<div class="row">
			<!-- main section -->
			<section class="col-sm-8">
				<h2>Wybrane trailery</h2>
				<h4 class="sw-subtitle">Poczuj dreszczyk emocji</h4>
				<div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Q0CbN8sfihY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/zB4I68XVPzQ?rel=0&amp;start=10" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sGbxmsDFVnE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/erLk59H86ww?rel=0&amp;start=10" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5UfA_aKBGMc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JNwNXF9Y6kY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MpkrMqmmy5k?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Yx6F46-_3Ec?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gYbW1F_c9eM?rel=0&amp;start=10" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="sw-separator"></p>
        <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bD7bpG-zDJQ?rel=0&amp;start=10" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

			</section>
			<!-- side section -->
			<section class="col-sm-4">
				<linki></linki>
			</section>
		</div>
	</div>
</div>